Installer/AdvocacyPlatformInstaller/config/logicApps.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "newCase_logicAppName": {
      "type": "String",
      "metadata": {
        "description": "Name of the logic app."
      }
    },
    "resultsUpdateCase_logicAppName": {
      "type": "String",
      "metadata": {
        "description": "Name of the logic app."
      }
    },
    "addressUpdateCase_logicAppName": {
      "type": "String",
      "metadata": {
        "description": "Name of the logic app."
      }
    },
    "getRetryRecords_logicAppName": {
      "type": "String",
      "metadata": {
        "description": "Name of the logic app."
      }
    },
    "logicAppLocation": {
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "westcentralus",
        "westus2",
        "[resourceGroup().location]"
      ],
      "type": "String",
      "metadata": {
        "description": "Location of the logic app."
      }
    },
    "servicebus_Connection_Name": {
      "defaultValue": "[parameters('servicebus_Connection_Name')]",
      "type": "String",
      "metadata": {
        "description": "Name of the connection."
      }
    },
    "commondataservice_Connection_Name": {
      "defaultValue": "[parameters('commondataservice_Connection_Name')]",
      "type": "String",
      "metadata": {
        "description": "Name of the connection."
      }
    },
    "dynamicscrm_environment_name": {
      "defaultValue": "[parameters('commondataservice_Connection_Name')]",
      "type": "String",
      "metadata": {
        "description": "Unique name of the Dynamics 365 CRM environment."
      }
    },
    "bingmaps_Connection_Name": {
      "defaultValue": "bingmaps",
      "type": "String",
      "metadata": {
        "description": "Name of the connection."
      }
    },
    "bingmaps_api_key": {
      "defaultValue": "bingmaps",
      "type": "String",
      "metadata": {
        "description": "Name of the connection."
      }
    }
  },
  "variables": {
    "tenant_id": "[subscription().tenantId]",
    "subscription_id": "[subscription().subscriptionId]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "name": "[parameters('bingmaps_Connection_Name')]",
      "apiVersion": "2016-06-01",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'bingmaps')]"
        },
        "displayName": "[parameters('bingmaps_Connection_Name')]",
        "parameterValues": {
          "api_key": "[parameters('bingmaps_api_key')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('newCase_logicAppName')]",
      "location": "westus2",
      "dependsOn": [],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Call_Final_Pause_Config": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                  }
                },
                "method": "get",
                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_configurations'))}/items",
                "queries": {
                  "$filter": "ap_configuration_type eq 683710005",
                  "$top": 1
                },
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT60S",
                  "minimumInterval": "PT30S",
                  "maximumInterval": "PT10M"
                }
              },
              "runAfter": {
                "Call_Initial_Pause_Config": [
                  "Succeeded"
                ]
              }
            },
            "Call_Initial_Pause_Config": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                  }
                },
                "method": "get",
                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_configurations'))}/items",
                "queries": {
                  "$filter": "ap_configuration_type eq 683710004",
                  "$top": 1
                },
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT60S",
                  "minimumInterval": "PT30S",
                  "maximumInterval": "PT10M"
                }
              },
              "runAfter": {}
            },
            "If_Get_Case_Appeal_Information": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['ap_extract_case_appeal_info']",
                      "@true"
                    ]
                  }
                ]
              },
              "actions": {
                "Compose_Get_Case_Appeal_Info_Request_Message": {
                  "type": "Compose",
                  "inputs": {
                    "dtmf": {
                      "dtmf": "@replace(body('Get_Case_Appeal_DTMF')?['value'][0]['ap_configuration_value'],'{inputIdPlaceHolder}',triggerBody()['ap_ain'])",
                      "finalPause": "@int(body('Call_Final_Pause_Config')?['value'][0]['ap_configuration_value'])",
                      "initPause": "@int(body('Call_Initial_Pause_Config')?['value'][0]['ap_configuration_value'])"
                    },
                    "inputId": "@triggerBody()?['ap_ain']",
                    "recordId": "@triggerBody()?['ap_ainid']",
                    "requestType": "CaseAppealInfo"
                  },
                  "runAfter": {
                    "Get_Case_Appeal_DTMF": [
                      "Succeeded"
                    ]
                  }
                },
                "Get_Case_Appeal_DTMF": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                      }
                    },
                    "method": "get",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_configurations'))}/items",
                    "queries": {
                      "$filter": "ap_configuration_type eq 683710010",
                      "$top": 1
                    }
                  },
                  "runAfter": {}
                },
                "Send_Get_Case_Appeal_Message_To_Request_Queue": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "[concat('@parameters(''$connections'')[''', parameters('servicebus_Connection_Name'), '''][''connectionId'']')]"
                      }
                    },
                    "method": "post",
                    "body": {
                      "SessionId": "0",
                      "ContentData": "@{base64(outputs('Compose_Get_Case_Appeal_Info_Request_Message'))}",
                      "ContentType": "application/json"
                    },
                    "path": "/@{encodeURIComponent(encodeURIComponent('request-queue'))}/messages",
                    "queries": {
                      "systemProperties": "None"
                    }
                  },
                  "runAfter": {
                    "Compose_Get_Case_Appeal_Info_Request_Message": [
                      "Succeeded"
                    ]
                  }
                },
                "Update_Case_Appeal_Transcription_Status": {
                  "runAfter": {
                    "Send_Get_Case_Appeal_Message_To_Request_Queue": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "_ownerid_type": "",
                      "ap_caseappeal_transcription_status": 683710001
                    },
                    "host": {
                      "connection": {
                        "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                      }
                    },
                    "method": "patch",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['ap_ainid']))}"
                  }
                }
              },
              "runAfter": {
                "If_Get_Case_Decision_Information": [
                  "Succeeded"
                ]
              }
            },
            "If_Get_Case_Decision_Information": {
              "type": "If",
              "expression": {
                "equals": [
                  "@triggerBody()['ap_extract_case_decision_info']",
                  "@true"
                ]
              },
              "actions": {
                "Compose_Get_Case_Decision_Info_Request_Message": {
                  "type": "Compose",
                  "inputs": {
                    "dtmf": {
                      "dtmf": "@replace(body('Get_Case_Decision_DTMF')?['value'][0]['ap_configuration_value'],'{inputIdPlaceHolder}',triggerBody()['ap_ain'])",
                      "finalPause": "@int(body('Call_Final_Pause_Config')?['value'][0]['ap_configuration_value'])",
                      "initPause": "@int(body('Call_Initial_Pause_Config')?['value'][0]['ap_configuration_value'])"
                    },
                    "inputId": "@triggerBody()?['ap_ain']",
                    "recordId": "@triggerBody()?['ap_ainid']",
                    "requestType": "CaseDecisionInfo"
                  },
                  "runAfter": {
                    "Get_Case_Decision_DTMF": [
                      "Succeeded"
                    ]
                  }
                },
                "Get_Case_Decision_DTMF": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                      }
                    },
                    "method": "get",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_configurations'))}/items",
                    "queries": {
                      "$filter": "ap_configuration_type eq 683710006",
                      "$top": 1
                    }
                  },
                  "runAfter": {}
                },
                "Send_Get_Case_Decision_Message_To_Request_Queue": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "[concat('@parameters(''$connections'')[''', parameters('servicebus_Connection_Name'), '''][''connectionId'']')]"
                      }
                    },
                    "method": "post",
                    "body": {
                      "SessionId": "0",
                      "ContentData": "@{base64(outputs('Compose_Get_Case_Decision_Info_Request_Message'))}",
                      "ContentType": "application/json"
                    },
                    "path": "/@{encodeURIComponent(encodeURIComponent('request-queue'))}/messages",
                    "queries": {
                      "systemProperties": "None"
                    }
                  },
                  "runAfter": {
                    "Compose_Get_Case_Decision_Info_Request_Message": [
                      "Succeeded"
                    ]
                  }
                },
                "Update_Case_Decision_Transcription_Status": {
                  "runAfter": {
                    "Send_Get_Case_Decision_Message_To_Request_Queue": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "_ownerid_type": "",
                      "ap_casedecision_transcription_status": 683710001
                    },
                    "host": {
                      "connection": {
                        "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                      }
                    },
                    "method": "patch",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['ap_ainid']))}"
                  }
                }
              },
              "runAfter": {
                "If_Get_Court_Information": [
                  "Succeeded"
                ]
              }
            },
            "If_Get_Court_Information": {
              "type": "If",
              "expression": {
                "equals": [
                  "@triggerBody()['ap_extract_court_hearing_info']",
                  "@true"
                ]
              },
              "actions": {
                "Compose_Get_Court_Info_Request_Message": {
                  "type": "Compose",
                  "inputs": {
                    "dtmf": {
                      "dtmf": "@replace(body('Get_Court_Info_DTMF')?['value'][0]['ap_configuration_value'],'{inputIdPlaceHolder}',triggerBody()['ap_ain'])",
                      "finalPause": "@int(body('Call_Final_Pause_Config')?['value'][0]['ap_configuration_value'])",
                      "initPause": "@int(body('Call_Initial_Pause_Config')?['value'][0]['ap_configuration_value'])"
                    },
                    "inputId": "@triggerBody()?['ap_ain']",
                    "recordId": "@triggerBody()?['ap_ainid']",
                    "requestType": "CourtHearingInfo"
                  },
                  "runAfter": {
                    "Get_Court_Info_DTMF": [
                      "Succeeded"
                    ]
                  }
                },
                "Get_Court_Info_DTMF": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                      }
                    },
                    "method": "get",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_configurations'))}/items",
                    "queries": {
                      "$filter": "ap_configuration_type eq 683710007",
                      "$top": 1
                    }
                  },
                  "runAfter": {}
                },
                "Send__Get_Court_Info_Message_To_Request_Queue": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "[concat('@parameters(''$connections'')[''', parameters('servicebus_Connection_Name'), '''][''connectionId'']')]"
                      }
                    },
                    "method": "post",
                    "body": {
                      "SessionId": "0",
                      "ContentData": "@{base64(outputs('Compose_Get_Court_Info_Request_Message'))}",
                      "ContentType": "application/json"
                    },
                    "path": "/@{encodeURIComponent(encodeURIComponent('request-queue'))}/messages",
                    "queries": {
                      "systemProperties": "None"
                    }
                  },
                  "runAfter": {
                    "Compose_Get_Court_Info_Request_Message": [
                      "Succeeded"
                    ]
                  }
                },
                "Update_Court_Hearing_Information_Transcription_Status": {
                  "runAfter": {
                    "Send__Get_Court_Info_Message_To_Request_Queue": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "_ownerid_type": "",
                      "ap_courthearing_transcription_status": 683710001
                    },
                    "host": {
                      "connection": {
                        "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                      }
                    },
                    "method": "patch",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['ap_ainid']))}"
                  }
                }
              },
              "runAfter": {
                "Call_Final_Pause_Config": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "$crmOrgName": {
              "defaultValue": "[concat(parameters('dynamicscrm_environment_name'),'.crm')]",
              "type": "String"
            }
          },
          "triggers": {
            "When_a_record_is_created": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                  }
                },
                "body": {
                  "NotificationUrl": "@{listCallbackUrl()}"
                },
                "path": "[concat('/datasets/@{encodeURIComponent(encodeURIComponent(''', parameters('dynamicscrm_environment_name'), '.crm''))}/tables/@{encodeURIComponent(encodeURIComponent(''ap_ains''))}/onnewitemswebhook')]",
                "queries": {
                  "scope": "Organization"
                },
                "retryPolicy": {
                  "type": "exponential",
                  "count": 10,
                  "interval": "PT60S",
                  "minimumInterval": "PT30S",
                  "maximumInterval": "PT5M"
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "[parameters('commondataservice_Connection_Name')]": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('commondataservice_Connection_Name'))]",
                "connectionName": "[parameters('commondataservice_Connection_Name')]",
                "id": "[concat('/subscriptions/', variables('subscription_id'), '/providers/Microsoft.Web/locations/westus2/managedApis/commondataservice')]"
              },
              "[parameters('servicebus_Connection_Name')]": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('servicebus_Connection_Name'))]",
                "connectionName": "[parameters('servicebus_Connection_Name')]",
                "id": "[concat('/subscriptions/', variables('subscription_id'), '/providers/Microsoft.Web/locations/westus2/managedApis/servicebus')]"
              }
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('resultsUpdateCase_logicAppName')]",
      "location": "westus2",
      "dependsOn": [],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Abandon_the_message_in_a_queue": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "[concat('@parameters(''$connections'')[''', parameters('servicebus_Connection_Name'), '''][''connectionId'']')]"
                  }
                },
                "method": "post",
                "path": "/@{encodeURIComponent(encodeURIComponent('result-queue'))}/messages/abandon",
                "queries": {
                  "lockToken": "@triggerBody()?['LockToken']",
                  "queueType": "Main",
                  "sessionId": "@triggerBody()?['SessionId']"
                }
              }
            },
            "For_each_queue_message": {
              "type": "Foreach",
              "foreach": "@body('Get_messages_from_result_queue_(peek-lock)')",
              "actions": {
                "Complete_the_message_in_a_queue": {
                  "runAfter": {
                    "Condition_Request_Type_Is_CourtHearingInfo": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "[concat('@parameters(''$connections'')[''', parameters('servicebus_Connection_Name'), '''][''connectionId'']')]"
                      }
                    },
                    "method": "delete",
                    "path": "/@{encodeURIComponent(encodeURIComponent('result-queue'))}/messages/complete",
                    "queries": {
                      "lockToken": "@items('For_each_queue_message')?['LockToken']",
                      "queueType": "Main",
                      "sessionId": "@items('For_each_queue_message')?['SessionId']"
                    }
                  }
                },
                "Condition_Request_Type_Is_CourtHearingInfo": {
                  "type": "If",
                  "expression": {
                    "equals": [
                      "@equals(body('Parse_JSON')?['requestType'],'CourtHearingInfo')",
                      "@true"
                    ]
                  },
                  "actions": {
                    "Condition_Does_Court_Info_Request_Has_Entities_And_No_Errors": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@equals(outputs('Format_Date'),null)",
                              "@false"
                            ]
                          },
                          {
                            "equals": [
                              "@equals(body('Parse_JSON')?['data']?['location']?['location'],null)",
                              "@false"
                            ]
                          },
                          {
                            "equals": [
                              "@equals(body('Parse_JSON')?['data']?['additionalData']?['caseType'],null)",
                              "@false"
                            ]
                          },
                          {
                            "equals": [
                              "@body('Parse_JSON')?['hasError']",
                              "@false"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Update_Case_Record_For_Court_Hearing_Info": {
                          "runAfter": {},
                          "type": "ApiConnection",
                          "inputs": {
                            "body": {
                              "_ownerid_type": "",
                              "ap_ain_last_call_date": "@{utcNow()}",
                              "ap_call_retry_use_longmessage_dtmf": false,
                              "ap_courthearing_city": "@{body('Parse_JSON')?['data']?['location']?['city']}",
                              "ap_courthearing_date": "@{if(empty(outputs('Format_Date')),'01/01/1753 00:00:00', outputs('Format_Date'))}",
                              "ap_courthearing_dateonly": "@{if(empty(outputs('Format_Date')),'01/01/1753 00:00:00', outputs('Format_Date'))}",
                              "ap_courthearing_datetime": "@{if(empty(outputs('Format_Date')),'01/01/1753 00:00:00', outputs('Format_Date'))}",
                              "ap_courthearing_info_available": true,
                              "ap_courthearing_judge": "@{body('Parse_JSON')?['data']?['additionalData']?['judge']}",
                              "ap_courthearing_location": "@{body('Parse_JSON')?['data']?['location']?['location']}",
                              "ap_courthearing_recording_url": "@{body('Parse_JSON')?['recordingSAS']}",
                              "ap_courthearing_state": "@{body('Parse_JSON')?['data']?['location']?['state']}",
                              "ap_courthearing_transcription_changed_on": "@{utcNow()}",
                              "ap_courthearing_transcription_confidence": "@{body('Parse_JSON')?['data']?['intentConfidence']}",
                              "ap_courthearing_transcription_errors": "@{body('Parse_JSON')?['errorDetails']}",
                              "ap_courthearing_transcription_raw": "@{body('Parse_JSON')?['data']?['transcription']}",
                              "ap_courthearing_transcription_status": 683710004,
                              "ap_courthearing_type": "@{if(equals(body('Parse_JSON')?['data']?['additionalData'],null),null,if(contains(body('Parse_JSON')?['data']?['additionalData'],'caseType'),body('Parse_JSON')?['data']?['additionalData']?['caseType'],null))}",
                              "ap_courthearing_zipcode": "@{body('Parse_JSON')?['data']?['location']?['zipcode']}",
                              "ap_extract_court_hearing_info": false,
                              "ap_total_call_retries": 1
                            },
                            "host": {
                              "connection": {
                                "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                              }
                            },
                            "method": "patch",
                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(body('Parse_JSON')?['recordId']))}"
                          }
                        }
                      },
                      "runAfter": {},
                      "else": {
                        "actions": {
                          "Condition_Court_Hearing_Request_Has_AddedGovernmentMessageAtStart_Entity": {
                            "type": "If",
                            "expression": {
                              "or": [
                                {
                                  "equals": [
                                    "@equals(body('Parse_JSON')?['intent'],'AddedGovernmentMessageAtStart')",
                                    "@true"
                                  ]
                                },
                                {
                                  "equals": [
                                    "@if(equals(body('Parse_JSON')?['data']?['additionalData'],null),false,contains(body('Parse_JSON')?['data']?['additionalData'],'governmentShutdown'))",
                                    "@true"
                                  ]
                                },
                                {
                                  "equals": [
                                    "@if(equals(body('Parse_JSON')?['data']?['additionalData'],null),false,contains(body('Parse_JSON')?['data']?['additionalData'],'systemMaintenance'))",
                                    "@true"
                                  ]
                                }
                              ]
                            },
                            "actions": {
                              "Update_Court_Hearing_Case_Record_To_Retry_with_Long_Message_DTMF": {
                                "runAfter": {},
                                "type": "ApiConnection",
                                "inputs": {
                                  "body": {
                                    "_ownerid_type": "",
                                    "ap_call_retry_use_longmessage_dtmf": true,
                                    "ap_courthearing_info_available": false
                                  },
                                  "host": {
                                    "connection": {
                                      "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                    }
                                  },
                                  "method": "patch",
                                  "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(body('Parse_JSON')?['recordId']))}"
                                }
                              }
                            },
                            "runAfter": {
                              "Update_Court_Info_Case_Record_For_Retry": [
                                "Succeeded"
                              ]
                            }
                          },
                          "Get_Court_Info_Case_Record_To_Increase_Retries": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                              "host": {
                                "connection": {
                                  "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                }
                              },
                              "method": "get",
                              "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(body('Parse_JSON')?['recordId']))}"
                            }
                          },
                          "Update_Court_Info_Case_Record_For_Retry": {
                            "runAfter": {
                              "Get_Court_Info_Case_Record_To_Increase_Retries": [
                                "Succeeded"
                              ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                              "body": {
                                "_ownerid_type": "",
                                "ap_ain_last_call_date": "@{utcNow()}",
                                "ap_courthearing_city": "@{body('Parse_JSON')?['data']?['location']?['city']}",
                                "ap_courthearing_date": "@{if(empty(outputs('Format_Date')),'01/01/1753 00:00:00', outputs('Format_Date'))}",
                                "ap_courthearing_dateonly": "@{if(empty(outputs('Format_Date')),'01/01/1753 00:00:00', outputs('Format_Date'))}",
                                "ap_courthearing_datetime": "@{if(empty(outputs('Format_Date')),'01/01/1753 00:00:00', outputs('Format_Date'))}",
                                "ap_courthearing_info_available": false,
                                "ap_courthearing_judge": "@{body('Parse_JSON')?['data']?['additionalData']?['judge']}",
                                "ap_courthearing_location": "@{body('Parse_JSON')?['data']?['location']?['location']}",
                                "ap_courthearing_recording_url": "@{body('Parse_JSON')?['recordingSAS']}",
                                "ap_courthearing_state": "@{body('Parse_JSON')?['data']?['location']?['state']}",
                                "ap_courthearing_transcription_changed_on": "@{utcNow()}",
                                "ap_courthearing_transcription_confidence": "@{body('Parse_JSON')?['data']?['intentConfidence']}",
                                "ap_courthearing_transcription_errors": "@{body('Parse_JSON')?['errorDetails']}",
                                "ap_courthearing_transcription_raw": "@{body('Parse_JSON')?['data']?['transcription']}",
                                "ap_courthearing_transcription_status": 683710002,
                                "ap_courthearing_type": "@{if(equals(body('Parse_JSON')?['data']?['additionalData'],null),null,if(contains(body('Parse_JSON')?['data']?['additionalData'],'caseType'),body('Parse_JSON')?['data']?['additionalData']?['caseType'],null))}",
                                "ap_courthearing_zipcode": "@{body('Parse_JSON')?['data']?['location']?['zipcode']}",
                                "ap_total_call_retries": "@add(if(equals(body('Get_Court_Info_Case_Record_To_Increase_Retries')?['ap_total_call_retries'],null),0,body('Get_Court_Info_Case_Record_To_Increase_Retries')?['ap_total_call_retries']),1)"
                              },
                              "host": {
                                "connection": {
                                  "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                }
                              },
                              "method": "patch",
                              "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(body('Parse_JSON')?['recordId']))}"
                            }
                          }
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Scope_Create_History_Record": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Condition_Request_Type_Is_CaseDecision": {
                        "type": "If",
                        "expression": {
                          "equals": [
                            "@equals(body('Parse_JSON')?['requestType'],'CaseDecisionInfo')",
                            "@true"
                          ]
                        },
                        "actions": {
                          "Condition_Does_Case_Decision_Request_Has_Date_Entity_And_No_Errors": {
                            "type": "If",
                            "expression": {
                              "and": [
                                {
                                  "equals": [
                                    "@equals(outputs('Format_Date'),null)",
                                    "@false"
                                  ]
                                },
                                {
                                  "equals": [
                                    "@body('Parse_JSON')?['hasError']",
                                    "@false"
                                  ]
                                },
                                {
                                  "equals": [
                                    "@equals(body('Parse_JSON')?['data']?['additionalData'],null)",
                                    "@false"
                                  ]
                                }
                              ]
                            },
                            "actions": {
                              "Update_Case_Decision_Record": {
                                "runAfter": {},
                                "type": "ApiConnection",
                                "inputs": {
                                  "body": {
                                    "_ownerid_type": "",
                                    "ap_ain_last_call_date": "@{utcNow()}",
                                    "ap_call_retry_use_longmessage_dtmf": false,
                                    "ap_casedecision_call_recording_url": "@{body('Parse_JSON')?['recordingSAS']}",
                                    "ap_casedecision_case_decision": "@{if(contains(body('Parse_JSON')?['data']?['additionalData'],'caseDecision'),body('Parse_JSON')?['data']?['additionalData']?['caseDecision'],null)}",
                                    "ap_casedecision_info_available": true,
                                    "ap_casedecision_issued_date": "@{if(empty(outputs('Format_Date')),'01/01/1753 00:00:00', outputs('Format_Date'))}",
                                    "ap_casedecision_transcription_changed_on": "@{utcNow()}",
                                    "ap_casedecision_transcription_confidence": "@{body('Parse_JSON')?['data']?['intentConfidence']}",
                                    "ap_casedecision_transcription_raw": "@{body('Parse_JSON')?['data']?['transcription']}",
                                    "ap_casedecision_transcription_status": 683710004,
                                    "ap_extract_case_decision_info": false,
                                    "ap_removal_order_issued": "@if(contains(body('Parse_JSON')?['data']?['additionalData'],'removalOrder'),683710001,683710000)",
                                    "ap_total_call_retries": 1
                                  },
                                  "host": {
                                    "connection": {
                                      "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                    }
                                  },
                                  "method": "patch",
                                  "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(body('Parse_JSON')?['recordId']))}"
                                }
                              }
                            },
                            "runAfter": {},
                            "else": {
                              "actions": {
                                "Condition_Case_Decision_Request_Has_AddedGovernmentMessageAtStart_Entity": {
                                  "type": "If",
                                  "expression": {
                                    "or": [
                                      {
                                        "equals": [
                                          "@equals(body('Parse_JSON')?['intent'],'AddedGovernmentMessageAtStart')",
                                          "@true"
                                        ]
                                      },
                                      {
                                        "equals": [
                                          "@if(equals(body('Parse_JSON')?['data']?['additionalData'],null),false,contains(body('Parse_JSON')?['data']?['additionalData'],'systemMaintenance'))",
                                          "@true"
                                        ]
                                      },
                                      {
                                        "equals": [
                                          "@if(equals(body('Parse_JSON')?['data']?['additionalData'],null),false,contains(body('Parse_JSON')?['data']?['additionalData'],'governmentShutdown'))",
                                          "@true"
                                        ]
                                      }
                                    ]
                                  },
                                  "actions": {
                                    "Update_Case_Decision_Record_To_Retry_with_Long_Message_DTMF": {
                                      "runAfter": {},
                                      "type": "ApiConnection",
                                      "inputs": {
                                        "body": {
                                          "_ownerid_type": "",
                                          "ap_call_retry_use_longmessage_dtmf": true
                                        },
                                        "host": {
                                          "connection": {
                                            "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                          }
                                        },
                                        "method": "patch",
                                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(body('Parse_JSON')?['recordId']))}"
                                      }
                                    }
                                  },
                                  "runAfter": {
                                    "Update_Case_Decision_Record_For_Retry": [
                                      "Succeeded"
                                    ]
                                  }
                                },
                                "Get_Case_Decision_Record_To_Increase_Retries": {
                                  "runAfter": {},
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connection": {
                                        "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                      }
                                    },
                                    "method": "get",
                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(body('Parse_JSON')?['recordId']))}"
                                  }
                                },
                                "Update_Case_Decision_Record_For_Retry": {
                                  "runAfter": {
                                    "Get_Case_Decision_Record_To_Increase_Retries": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "body": {
                                      "_ownerid_type": "",
                                      "ap_ain_last_call_date": "@{utcNow()}",
                                      "ap_casedecision_call_recording_url": "@{body('Parse_JSON')?['recordingSAS']}",
                                      "ap_casedecision_case_decision": "@{if(equals(body('Parse_JSON')?['data']?['additionalData'],null),null,if(contains(body('Parse_JSON')?['data']?['additionalData'],'caseDecision'),body('Parse_JSON')?['data']?['additionalData']?['caseDecision'],null))}",
                                      "ap_casedecision_info_available": false,
                                      "ap_casedecision_transcription_changed_on": "@{utcNow()}",
                                      "ap_casedecision_transcription_confidence": "@{body('Parse_JSON')?['data']?['intentConfidence']}",
                                      "ap_casedecision_transcription_errors": "@{body('Parse_JSON')?['errorDetails']}",
                                      "ap_casedecision_transcription_raw": "@{body('Parse_JSON')?['data']?['transcription']}",
                                      "ap_casedecision_transcription_status": 683710002,
                                      "ap_removal_order_issued": "@{if(equals(body('Parse_JSON')?['data']?['additionalData'],null),null,if(contains(body('Parse_JSON')?['data']?['additionalData'],'removalOrder'),683710001,683710000))}",
                                      "ap_total_call_retries": "@add(if(equals(body('Get_Case_Decision_Record_To_Increase_Retries')?['ap_total_call_retries'],null),0,body('Get_Case_Decision_Record_To_Increase_Retries')?['ap_total_call_retries']),1)"
                                    },
                                    "host": {
                                      "connection": {
                                        "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                      }
                                    },
                                    "method": "patch",
                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(body('Parse_JSON')?['recordId']))}"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "runAfter": {},
                        "else": {
                          "actions": {
                            "Condition_Request_Type_Is_CaseAppeal": {
                              "type": "If",
                              "expression": {
                                "and": [
                                  {
                                    "equals": [
                                      "@equals(body('Parse_JSON')?['requestType'],'CaseAppealInfo')",
                                      "@true"
                                    ]
                                  }
                                ]
                              },
                              "actions": {
                                "Condition_Does_Case_Appeal_Request_Has_Date_Entity_And_No_Errors": {
                                  "type": "If",
                                  "expression": {
                                    "and": [
                                      {
                                        "equals": [
                                          "@equals(outputs('Format_Date'),null)",
                                          "@false"
                                        ]
                                      },
                                      {
                                        "equals": [
                                          "@body('Parse_JSON')?['hasError']",
                                          "@false"
                                        ]
                                      },
                                      {
                                        "equals": [
                                          "@equals(body('Parse_JSON')?['data']?['additionalData'],null)",
                                          "@false"
                                        ]
                                      }
                                    ]
                                  },
                                  "actions": {
                                    "Update_Case_Appeal_Record": {
                                      "runAfter": {},
                                      "type": "ApiConnection",
                                      "inputs": {
                                        "body": {
                                          "_ownerid_type": "",
                                          "ap_ain_last_call_date": "@{utcNow()}",
                                          "ap_caseappeal_call_recording_url": "@{body('Parse_JSON')?['recordingSAS']}",
                                          "ap_caseappeal_info_available": true,
                                          "ap_caseappeal_status_info": "@{if(contains(body('Parse_JSON')?['data']?['additionalData'],'caseAppealStatus'),body('Parse_JSON')?['data']?['additionalData']?['caseAppealStatus'],null)}",
                                          "ap_caseappeal_submitted_date": "@{if(empty(outputs('Format_Date')),'01/01/1753 00:00:00', outputs('Format_Date'))}",
                                          "ap_caseappeal_transcription_changed_on": "@{utcNow()}",
                                          "ap_caseappeal_transcription_confidence": "@{body('Parse_JSON')?['data']?['intentConfidence']}",
                                          "ap_caseappeal_transcription_raw": "@{body('Parse_JSON')?['data']?['transcription']}",
                                          "ap_caseappeal_transcription_status": 683710004,
                                          "ap_extract_case_appeal_info": false
                                        },
                                        "host": {
                                          "connection": {
                                            "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                          }
                                        },
                                        "method": "patch",
                                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(body('Parse_JSON')?['recordId']))}"
                                      }
                                    }
                                  },
                                  "runAfter": {},
                                  "else": {
                                    "actions": {
                                      "Condition_Case_Appeal_Request_Has_AddedGovernmentMessageAtStart_Entity": {
                                        "type": "If",
                                        "expression": {
                                          "or": [
                                            {
                                              "equals": [
                                                "@equals(body('Parse_JSON')?['intent'],'AddedGovernmentMessageAtStart')",
                                                "@true"
                                              ]
                                            },
                                            {
                                              "equals": [
                                                "@if(equals(body('Parse_JSON')?['data']?['additionalData'],null),false,contains(body('Parse_JSON')?['data']?['additionalData'],'systemMaintenance'))",
                                                "@true"
                                              ]
                                            },
                                            {
                                              "equals": [
                                                "@if(equals(body('Parse_JSON')?['data']?['additionalData'],null),false,contains(body('Parse_JSON')?['data']?['additionalData'],'governmentShutdown'))",
                                                "@true"
                                              ]
                                            }
                                          ]
                                        },
                                        "actions": {
                                          "Update_Case_Appeal_Record_To_Retry_with_Long_Message_DTMF": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                              "body": {
                                                "_ownerid_type": "",
                                                "ap_call_retry_use_longmessage_dtmf": true
                                              },
                                              "host": {
                                                "connection": {
                                                  "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                                }
                                              },
                                              "method": "patch",
                                              "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Case_Appeal_Record_To_Increase_Retries')?['ap_ainid']))}"
                                            }
                                          }
                                        },
                                        "runAfter": {
                                          "Update_Case_Appeal_Record_For_Retry": [
                                            "Succeeded"
                                          ]
                                        }
                                      },
                                      "Get_Case_Appeal_Record_To_Increase_Retries": {
                                        "runAfter": {},
                                        "type": "ApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connection": {
                                              "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                            }
                                          },
                                          "method": "get",
                                          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(body('Parse_JSON')?['recordId']))}"
                                        }
                                      },
                                      "Update_Case_Appeal_Record_For_Retry": {
                                        "runAfter": {
                                          "Get_Case_Appeal_Record_To_Increase_Retries": [
                                            "Succeeded"
                                          ]
                                        },
                                        "type": "ApiConnection",
                                        "inputs": {
                                          "body": {
                                            "_ownerid_type": "",
                                            "ap_ain_last_call_date": "@{utcNow()}",
                                            "ap_caseappeal_call_recording_url": "@{body('Parse_JSON')?['recordingSAS']}",
                                            "ap_caseappeal_status_info": "@{if(equals(body('Parse_JSON')?['data']?['additionalData'],null),null,if(contains(body('Parse_JSON')?['data']?['additionalData'],'caseAppealStatus'),body('Parse_JSON')?['data']?['additionalData']?['caseAppealStatus'],null))}",
                                            "ap_caseappeal_transcription_changed_on": "@{utcNow()}",
                                            "ap_caseappeal_transcription_confidence": "@{body('Parse_JSON')?['data']?['intentConfidence']}",
                                            "ap_caseappeal_transcription_errors": "@{body('Parse_JSON')?['errorDetails']}",
                                            "ap_caseappeal_transcription_raw": "@{body('Parse_JSON')?['data']?['transcription']}",
                                            "ap_caseappeal_transcription_status": 683710002,
                                            "ap_total_call_retries": "@add(if(equals(body('Get_Case_Appeal_Record_To_Increase_Retries')?['ap_total_call_retries'],null),0,body('Get_Case_Appeal_Record_To_Increase_Retries')?['ap_total_call_retries']),1)"
                                          },
                                          "host": {
                                            "connection": {
                                              "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                            }
                                          },
                                          "method": "patch",
                                          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Case_Appeal_Record_To_Increase_Retries')?['ap_ainid']))}"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "runAfter": {},
                              "else": {
                                "actions": {
                                  "Condition_Is_Get_Case_Appeal_Info_Flag_On": {
                                    "type": "If",
                                    "expression": {
                                      "and": [
                                        {
                                          "equals": [
                                            "@body('Get_Case_Record')?['ap_extract_case_appeal_info']",
                                            "@true"
                                          ]
                                        }
                                      ]
                                    },
                                    "actions": {
                                      "Update_Case_Appeal_Info_Record_To_In_Error": {
                                        "runAfter": {},
                                        "type": "ApiConnection",
                                        "inputs": {
                                          "body": {
                                            "_ownerid_type": "",
                                            "ap_caseappeal_info_available": false,
                                            "ap_caseappeal_transcription_errors": "@{body('Parse_JSON')?['errorDetails']}",
                                            "ap_caseappeal_transcription_status": 683710003
                                          },
                                          "host": {
                                            "connection": {
                                              "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                            }
                                          },
                                          "method": "patch",
                                          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(body('Parse_JSON')?['recordId']))}"
                                        }
                                      }
                                    },
                                    "runAfter": {
                                      "Condition_Is_Get_Court_Hearing_Info_Flag_On": [
                                        "Succeeded"
                                      ]
                                    }
                                  },
                                  "Condition_Is_Get_Case_Decision_Info_Flag_On": {
                                    "type": "If",
                                    "expression": {
                                      "equals": [
                                        "@body('Get_Case_Record')?['ap_extract_case_decision_info']",
                                        "@true"
                                      ]
                                    },
                                    "actions": {
                                      "Update_Case_Decision_Info_Record_To_In_Error": {
                                        "runAfter": {},
                                        "type": "ApiConnection",
                                        "inputs": {
                                          "body": {
                                            "_ownerid_type": "",
                                            "ap_casedecision_info_available": false,
                                            "ap_casedecision_transcription_errors": "@{body('Parse_JSON')?['errorDetails']}",
                                            "ap_casedecision_transcription_status": 683710003
                                          },
                                          "host": {
                                            "connection": {
                                              "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                            }
                                          },
                                          "method": "patch",
                                          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(body('Parse_JSON')?['recordId']))}"
                                        }
                                      }
                                    },
                                    "runAfter": {
                                      "Get_Case_Record": [
                                        "Succeeded"
                                      ]
                                    }
                                  },
                                  "Condition_Is_Get_Court_Hearing_Info_Flag_On": {
                                    "type": "If",
                                    "expression": {
                                      "equals": [
                                        "@body('Get_Case_Record')?['ap_extract_court_hearing_info']",
                                        "@true"
                                      ]
                                    },
                                    "actions": {
                                      "Update_Case_Court_Hearing_Info_Record_To_In_Error": {
                                        "runAfter": {},
                                        "type": "ApiConnection",
                                        "inputs": {
                                          "body": {
                                            "_ownerid_type": "",
                                            "ap_courthearing_info_available": false,
                                            "ap_courthearing_transcription_errors": "@{body('Parse_JSON')?['errorDetails']}",
                                            "ap_courthearing_transcription_status": 683710003
                                          },
                                          "host": {
                                            "connection": {
                                              "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                            }
                                          },
                                          "method": "patch",
                                          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(body('Parse_JSON')?['recordId']))}"
                                        }
                                      }
                                    },
                                    "runAfter": {
                                      "Condition_Is_Get_Case_Decision_Info_Flag_On": [
                                        "Succeeded"
                                      ]
                                    }
                                  },
                                  "Get_Case_Record": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connection": {
                                          "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                        }
                                      },
                                      "method": "get",
                                      "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(body('Parse_JSON')?['recordId']))}"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Format_Date": {
                  "type": "Compose",
                  "inputs": "@if(or(or(empty(body('Parse_JSON')?['data']?['dates']?[0]?['fullDate']),equals(body('Parse_JSON')?['data']?['dates']?[0]?['fullDate'],'0001-01-01T00:00:00')),greater(length(body('Parse_JSON')?['data']?['dates']),1) ),null,body('Parse_JSON')?['data']?['dates']?[0]?['fullDate'])",
                  "runAfter": {
                    "Parse_JSON": [
                      "Succeeded"
                    ]
                  }
                },
                "Parse_JSON": {
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@decodeBase64(items('For_each_queue_message')?['ContentData'])",
                    "schema": {
                      "properties": {
                        "callSid": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "data": {
                          "properties": {
                            "additionalData": {
                              "properties": {
                                "caseAppealStatus": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              },
                              "type": [
                                "object",
                                "null"
                              ]
                            },
                            "dates": {
                              "items": {
                                "properties": {
                                  "day": {
                                    "type": [
                                      "integer",
                                      "null"
                                    ]
                                  },
                                  "fullDate": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "hour": {
                                    "type": [
                                      "integer",
                                      "null"
                                    ]
                                  },
                                  "minute": {
                                    "type": [
                                      "integer",
                                      "null"
                                    ]
                                  },
                                  "month": {
                                    "type": [
                                      "integer",
                                      "null"
                                    ]
                                  },
                                  "year": {
                                    "type": [
                                      "integer",
                                      "null"
                                    ]
                                  }
                                },
                                "required": [
                                  "year",
                                  "month",
                                  "day",
                                  "hour",
                                  "minute",
                                  "fullDate"
                                ],
                                "type": [
                                  "object",
                                  "null"
                                ]
                              },
                              "type": [
                                "array",
                                "null"
                              ]
                            },
                            "evaluatedTranscription": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "intent": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "intentConfidence": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "location": {},
                            "person": {},
                            "transcription": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          },
                          "type": [
                            "object",
                            "null"
                          ]
                        },
                        "errorCode": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "errorDetails": {},
                        "flags": {
                          "type": [
                            "array",
                            "null"
                          ]
                        },
                        "hasError": {
                          "type": "boolean"
                        },
                        "inputId": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "recordId": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "recordingSAS": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "requestType": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "statusCode": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "statusDesc": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "type": [
                        "object",
                        "null"
                      ]
                    }
                  },
                  "runAfter": {}
                },
                "Scope_Create_History_Record": {
                  "type": "Scope",
                  "actions": {
                    "Create_a_new_EOIR_History_record": {
                      "runAfter": {
                        "Get_Current_EOIR_Record": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "_ap_eoircasehistory_value": "@body('Get_Current_EOIR_Record')?['ap_ainid']",
                          "_ownerid_type": "",
                          "ap_ain_key_history": "@body('Get_Current_EOIR_Record')['ap_ain']",
                          "ap_ain_last_call_date_history": "@body('Get_Current_EOIR_Record')?['ap_ain_last_call_date']",
                          "ap_caseappeal_additional_info_history": "@body('Get_Current_EOIR_Record')?['ap_caseappeal_additional_info']",
                          "ap_caseappeal_call_recording_url_history": "@body('Get_Current_EOIR_Record')?['ap_caseappeal_call_recording_url']",
                          "ap_caseappeal_info_available_history": "@body('Get_Current_EOIR_Record')?['ap_caseappeal_info_available']",
                          "ap_caseappeal_status_info_history": "@body('Get_Current_EOIR_Record')?['ap_caseappeal_status_info']",
                          "ap_caseappeal_submitted_date_history": "@body('Get_Current_EOIR_Record')?['ap_caseappeal_submitted_date']",
                          "ap_caseappeal_transcript_changedon_history": "@body('Get_Current_EOIR_Record')?['ap_caseappeal_transcription_changed_on']",
                          "ap_caseappeal_transcript_confidence_history": "@body('Get_Current_EOIR_Record')?['ap_caseappeal_transcription_confidence']",
                          "ap_caseappeal_transcription_errors_history": "@body('Get_Current_EOIR_Record')?['ap_caseappeal_transcription_errors']",
                          "ap_caseappeal_transcription_raw_history": "@body('Get_Current_EOIR_Record')?['ap_caseappeal_transcription_raw']",
                          "ap_caseappeal_transcriptstatus_history": "@body('Get_Current_EOIR_Record')?['ap_caseappeal_transcription_status']",
                          "ap_casedecision_additional_info_history": "@body('Get_Current_EOIR_Record')?['ap_casedecision_additional_info']",
                          "ap_casedecision_call_recording_url_history": "@body('Get_Current_EOIR_Record')?['ap_casedecision_call_recording_url']",
                          "ap_casedecision_case_decision_history": "@body('Get_Current_EOIR_Record')?['ap_casedecision_case_decision']",
                          "ap_casedecision_info_available_history": "@body('Get_Current_EOIR_Record')?['ap_casedecision_info_available']",
                          "ap_casedecision_issued_date_history": "@body('Get_Current_EOIR_Record')?['ap_casedecision_issued_date']",
                          "ap_casedecision_transcriptchangedon_history": "@body('Get_Current_EOIR_Record')?['ap_casedecision_transcription_changed_on']",
                          "ap_casedecision_transcriptconfidence_history": "@body('Get_Current_EOIR_Record')?['ap_casedecision_transcription_confidence']",
                          "ap_casedecision_transcription_errors_history": "@body('Get_Current_EOIR_Record')?['ap_casedecision_transcription_errors']",
                          "ap_casedecision_transcription_raw_history": "@body('Get_Current_EOIR_Record')?['ap_casedecision_transcription_raw']",
                          "ap_casedecision_transcriptstatus_history": "@body('Get_Current_EOIR_Record')?['ap_casedecision_transcription_status']",
                          "ap_courthearing_additional_info_history": "@body('Get_Current_EOIR_Record')?['ap_courthearing_additional_info']",
                          "ap_courthearing_city_history": "@body('Get_Current_EOIR_Record')?['ap_courthearing_city']",
                          "ap_courthearing_date_history": "@body('Get_Current_EOIR_Record')?['ap_courthearing_date']",
                          "ap_courthearing_dateonly_history": "@body('Get_Current_EOIR_Record')?['ap_courthearing_dateonly']",
                          "ap_courthearing_datetime_history": "@body('Get_Current_EOIR_Record')?['ap_courthearing_datetime']",
                          "ap_courthearing_info_available_history": "@body('Get_Current_EOIR_Record')?['ap_courthearing_info_available']",
                          "ap_courthearing_judge_history": "@body('Get_Current_EOIR_Record')?['ap_courthearing_judge']",
                          "ap_courthearing_location_history": "@body('Get_Current_EOIR_Record')?['ap_courthearing_location']",
                          "ap_courthearing_recording_url_history": "@body('Get_Current_EOIR_Record')?['ap_courthearing_recording_url']",
                          "ap_courthearing_state_history": "@body('Get_Current_EOIR_Record')?['ap_courthearing_state']",
                          "ap_courthearing_transcriptchangedon_history": "@body('Get_Current_EOIR_Record')?['ap_courthearing_transcription_changed_on']",
                          "ap_courthearing_transcriptconfidence_history": "@body('Get_Current_EOIR_Record')?['ap_courthearing_transcription_confidence']",
                          "ap_courthearing_transcription_errors_history": "@body('Get_Current_EOIR_Record')?['ap_courthearing_transcription_errors']",
                          "ap_courthearing_transcription_raw_history": "@body('Get_Current_EOIR_Record')?['ap_courthearing_transcription_raw']",
                          "ap_courthearing_transcriptstatus_history": "@body('Get_Current_EOIR_Record')?['ap_courthearing_transcription_status']",
                          "ap_courthearing_type_history": "@body('Get_Current_EOIR_Record')?['ap_courthearing_type']",
                          "ap_courthearing_zipcode_history": "@body('Get_Current_EOIR_Record')?['ap_courthearing_zipcode']"
                        },
                        "host": {
                          "connection": {
                            "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                          }
                        },
                        "method": "post",
                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ain_histories'))}/items"
                      }
                    },
                    "Get_Current_EOIR_Record": {
                      "runAfter": {},
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                          }
                        },
                        "method": "get",
                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(body('Parse_JSON')?['recordId']))}"
                      }
                    }
                  },
                  "runAfter": {
                    "Format_Date": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Get_messages_from_result_queue_(peek-lock)": [
                  "Succeeded"
                ]
              }
            },
            "Get_messages_from_result_queue_(peek-lock)": {
              "runAfter": {
                "Abandon_the_message_in_a_queue": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "[concat('@parameters(''$connections'')[''', parameters('servicebus_Connection_Name'), '''][''connectionId'']')]"
                  }
                },
                "method": "get",
                "path": "/@{encodeURIComponent(encodeURIComponent('result-queue'))}/messages/batch/peek",
                "queries": {
                  "maxMessageCount": 50,
                  "queueType": "Main",
                  "sessionId": "0"
                }
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "$crmOrgName": {
              "defaultValue": "[concat(parameters('dynamicscrm_environment_name'),'.crm')]",
              "type": "String"
            }
          },
          "triggers": {
            "When_a_message_is_received_in_a_queue_(peek-lock)": {
              "recurrence": {
                "frequency": "Minute",
                "interval": 1
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "[concat('@parameters(''$connections'')[''', parameters('servicebus_Connection_Name'), '''][''connectionId'']')]"
                  }
                },
                "method": "get",
                "path": "/@{encodeURIComponent(encodeURIComponent('result-queue'))}/messages/head/peek",
                "queries": {
                  "queueType": "Main",
                  "sessionId": "0"
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "[parameters('commondataservice_Connection_Name')]": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('commondataservice_Connection_Name'))]",
                "connectionName": "[parameters('commondataservice_Connection_Name')]",
                "id": "[concat('/subscriptions/', variables('subscription_id'), '/providers/Microsoft.Web/locations/westus2/managedApis/commondataservice')]"
              },
              "[parameters('servicebus_Connection_Name')]": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('servicebus_Connection_Name'))]",
                "connectionName": "[parameters('servicebus_Connection_Name')]",
                "id": "[concat('/subscriptions/', variables('subscription_id'), '/providers/Microsoft.Web/locations/westus2/managedApis/servicebus')]"
              }
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('addressUpdateCase_logicAppName')]",
      "location": "westus2",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('bingmaps_Connection_Name'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Condition_Location_is_Empty": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@equals(triggerBody()?['ap_courthearing_location'],null)",
                      "@false"
                    ]
                  },
                  {
                    "equals": [
                      "@equals(triggerBody()?['ap_courthearing_location'],'')",
                      "@false"
                    ]
                  },
                  {
                    "equals": [
                      "@empty(triggerBody()?['ap_courthearing_location'])",
                      "@false"
                    ]
                  }
                ]
              },
              "actions": {
                "Condition_transcription_contains_state_and_city": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@contains(toLower(triggerBody()?['ap_courthearing_transcription_raw']),toLower(variables('City')))",
                          "@true"
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Update_a_record": {
                      "runAfter": {},
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "_ownerid_type": "",
                          "ap_courthearing_city": "@{if(empty(variables('City')),triggerBody()?['ap_courthearing_state'],variables('City'))}",
                          "ap_courthearing_location_composite": "@body('Get_location_by_address')?['address']?['formattedAddress']",
                          "ap_courthearing_location_latitude": "@body('Get_location_by_address')?['point']?['coordinates']?['latitude']",
                          "ap_courthearing_location_longitude": "@body('Get_location_by_address')?['point']?['coordinates']?['longitude']",
                          "ap_courthearing_state": "@{if(empty(variables('State')),triggerBody()?['ap_courthearing_state'],variables('State'))}",
                          "ap_courthearing_zipcode": "@body('Get_location_by_address')?['address']?['postalCode']"
                        },
                        "host": {
                          "connection": {
                            "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                          }
                        },
                        "method": "patch",
                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['ap_ainid']))}"
                      }
                    }
                  },
                  "runAfter": {
                    "Scope_Parse_Address": [
                      "Succeeded"
                    ]
                  }
                },
                "Get_location_by_address": {
                  "runAfter": {},
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "[concat('@parameters(''$connections'')[''', parameters('bingmaps_Connection_Name'), '''][''connectionId'']')]"
                      }
                    },
                    "method": "get",
                    "path": "/REST/v1/Locations",
                    "queries": {
                      "addressLine": "@triggerBody()?['ap_courthearing_location']"
                    }
                  }
                },
                "Scope_Parse_Address": {
                  "type": "Scope",
                  "actions": {
                    "Condition_Address_Contains_Delimeter": {
                      "type": "If",
                      "expression": {
                        "equals": [
                          "@contains(body('Get_location_by_address')?['address']?['formattedAddress'],',')",
                          "@true"
                        ]
                      },
                      "actions": {
                        "Compose_Split_Address": {
                          "type": "Compose",
                          "inputs": "@split(replace(body('Get_location_by_address')?['address']?['formattedAddress'],', United States',''),',')",
                          "runAfter": {}
                        },
                        "Condition_Address_Contains_All_Parts": {
                          "type": "If",
                          "expression": {
                            "equals": [
                              "@length(outputs('Compose_Split_Address'))",
                              3
                            ]
                          },
                          "actions": {
                            "Compose_Address_Array_Length": {
                              "type": "Compose",
                              "inputs": "@int(length(outputs('Compose_Split_Address')))",
                              "runAfter": {}
                            },
                            "Compose_Get_Address_Last_Part": {
                              "type": "Compose",
                              "inputs": "@outputs('Compose_Split_Address')[sub(outputs('Compose_Address_Array_Length'),1)]",
                              "runAfter": {
                                "Compose_Address_Array_Length": [
                                  "Succeeded"
                                ]
                              }
                            },
                            "Compose_Get_Address_Second_To_Last_Part": {
                              "type": "Compose",
                              "inputs": "@trim(outputs('Compose_Split_Address')[sub(outputs('Compose_Address_Array_Length'),2)])",
                              "runAfter": {
                                "Compose_Get_Address_Last_Part": [
                                  "Succeeded"
                                ]
                              }
                            },
                            "Compose_Get_State": {
                              "type": "Compose",
                              "inputs": "@trim(first(outputs('Compose_split_state_and_zipcode')))",
                              "runAfter": {
                                "Compose_split_state_and_zipcode": [
                                  "Succeeded"
                                ]
                              }
                            },
                            "Compose_split_state_and_zipcode": {
                              "type": "Compose",
                              "inputs": "@split(trim(outputs('Compose_Get_Address_Last_Part')),' ')",
                              "runAfter": {
                                "Compose_Get_Address_Second_To_Last_Part": [
                                  "Succeeded"
                                ]
                              }
                            },
                            "Set_City": {
                              "type": "SetVariable",
                              "inputs": {
                                "name": "City",
                                "value": "@{outputs('Compose_Get_Address_Second_To_Last_Part')}"
                              },
                              "runAfter": {
                                "Set_State": [
                                  "Succeeded"
                                ]
                              }
                            },
                            "Set_State": {
                              "type": "SetVariable",
                              "inputs": {
                                "name": "State",
                                "value": "@{outputs('Compose_Get_State')}"
                              },
                              "runAfter": {
                                "Compose_Get_State": [
                                  "Succeeded"
                                ]
                              }
                            }
                          },
                          "runAfter": {
                            "Compose_Split_Address": [
                              "Succeeded"
                            ]
                          }
                        }
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Get_location_by_address": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Initialize_City": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_City": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "City",
                    "type": "String"
                  }
                ]
              },
              "runAfter": {
                "Initialize_State": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_State": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "State",
                    "type": "String"
                  }
                ]
              },
              "runAfter": {}
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "$crmOrgName": {
              "defaultValue": "[concat(parameters('dynamicscrm_environment_name'),'.crm')]",
              "type": "String"
            }
          },
          "triggers": {
            "When_a_record_is_updated": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "AttributeFilters": [
                    "ap_courthearing_location"
                  ],
                  "NotificationUrl": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                  }
                },
                "path": "[concat('/datasets/@{encodeURIComponent(encodeURIComponent(''', parameters('dynamicscrm_environment_name'), '.crm''))}/tables/@{encodeURIComponent(encodeURIComponent(''ap_ains''))}/onupdateditemswebhook')]",
                "queries": {
                  "scope": "Organization"
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "[parameters('bingmaps_Connection_Name')]": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('bingmaps_Connection_Name'))]",
                "connectionName": "[parameters('bingmaps_Connection_Name')]",
                "id": "[concat('/subscriptions/', variables('subscription_id'), '/providers/Microsoft.Web/locations/westus2/managedApis/bingmaps')]"
              },
              "[parameters('commondataservice_Connection_Name')]": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('commondataservice_Connection_Name'))]",
                "connectionName": "[parameters('commondataservice_Connection_Name')]",
                "id": "[concat('/subscriptions/', variables('subscription_id'), '/providers/Microsoft.Web/locations/westus2/managedApis/commondataservice')]"
              }
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('getRetryRecords_logicAppName')]",
      "location": "westus2",
      "dependsOn": [],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Condition_have_records_to_retry": {
              "type": "If",
              "expression": {
                "greater": [
                  "@length(body('List_records_for_retry')?['value'])",
                  0
                ]
              },
              "actions": {
                "Apply_to_each": {
                  "type": "Foreach",
                  "foreach": "@body('List_records_for_retry')?['value']",
                  "actions": {
                    "Compose_Current_AIN_Call_Retries_Count": {
                      "type": "Compose",
                      "inputs": "@int(if(equals(items('Apply_to_each')?['ap_total_call_retries'],null),0,items('Apply_to_each')?['ap_total_call_retries']))",
                      "runAfter": {}
                    },
                    "Condition_Max_Retries_Exceeded": {
                      "type": "If",
                      "expression": {
                        "greaterOrEquals": [
                          "@outputs('Compose_Current_AIN_Call_Retries_Count')",
                          "@int(body('Get_Max_Retries_Allowed_Config')?['value'][0]['ap_configuration_value'])"
                        ]
                      },
                      "actions": {
                        "Condition_Get_Case_Appeal_Exceeded_Retry": {
                          "type": "If",
                          "expression": {
                            "and": [
                              {
                                "equals": [
                                  "@items('Apply_to_each')?['ap_caseappeal_transcription_status']",
                                  683710002
                                ]
                              }
                            ]
                          },
                          "actions": {
                            "Update_Case_Appeal_Transcription_Status_To_Error": {
                              "runAfter": {},
                              "type": "ApiConnection",
                              "inputs": {
                                "body": {
                                  "_ownerid_type": "",
                                  "ap_caseappeal_transcription_errors": "Exceeded max number of call retries. To retry again, manually set transciption status to Retry",
                                  "ap_caseappeal_transcription_status": 683710003,
                                  "ap_total_call_retries": 0
                                },
                                "host": {
                                  "connection": {
                                    "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                  }
                                },
                                "method": "patch",
                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each')?['ap_ainid']))}"
                              }
                            }
                          },
                          "runAfter": {
                            "Condition_Get_Case_Decision_Exceeded_Retry": [
                              "Succeeded"
                            ]
                          }
                        },
                        "Condition_Get_Case_Decision_Exceeded_Retry": {
                          "type": "If",
                          "expression": {
                            "equals": [
                              "@items('Apply_to_each')?['ap_casedecision_transcription_status']",
                              683710002
                            ]
                          },
                          "actions": {
                            "Update_Case_Decision_Transcription_Status_To_Error": {
                              "runAfter": {},
                              "type": "ApiConnection",
                              "inputs": {
                                "body": {
                                  "_ownerid_type": "",
                                  "ap_casedecision_transcription_errors": "Exceeded max number of call retries. To retry again, manually set transciption status to Retry",
                                  "ap_casedecision_transcription_status": 683710003,
                                  "ap_total_call_retries": 0
                                },
                                "host": {
                                  "connection": {
                                    "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                  }
                                },
                                "method": "patch",
                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each')?['ap_ainid']))}"
                              }
                            }
                          },
                          "runAfter": {
                            "Condition_Get_Court_Info_Exceeded_Retry": [
                              "Succeeded"
                            ]
                          }
                        },
                        "Condition_Get_Court_Info_Exceeded_Retry": {
                          "type": "If",
                          "expression": {
                            "equals": [
                              "@items('Apply_to_each')?['ap_courthearing_transcription_status']",
                              683710002
                            ]
                          },
                          "actions": {
                            "Update_Court_Hearing_Information_Transcription_Status_To_Error": {
                              "runAfter": {},
                              "type": "ApiConnection",
                              "inputs": {
                                "body": {
                                  "_ownerid_type": "",
                                  "ap_courthearing_transcription_errors": "Exceeded max number of call retries. To retry again, manually set transciption status to Retry",
                                  "ap_courthearing_transcription_status": 683710003,
                                  "ap_total_call_retries": 0
                                },
                                "host": {
                                  "connection": {
                                    "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                  }
                                },
                                "method": "patch",
                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each')?['ap_ainid']))}"
                              }
                            }
                          },
                          "runAfter": {}
                        }
                      },
                      "runAfter": {
                        "Get_Max_Retries_Allowed_Config": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Condition_Time_Between_Retry_Elapsed": {
                            "type": "If",
                            "expression": {
                              "greaterOrEquals": [
                                "@sub(dayOfYear(utcNow()),dayOfYear(items('Apply_to_each')?['ap_ain_last_call_date']))",
                                "@int(body('Get_Time_Between_Retries_Config')?['value'][0]['ap_configuration_value'])"
                              ]
                            },
                            "actions": {
                              "Call_Final_Pause_Config": {
                                "runAfter": {
                                  "Call_Initial_Pause_Config": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "ApiConnection",
                                "inputs": {
                                  "host": {
                                    "connection": {
                                      "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                    }
                                  },
                                  "method": "get",
                                  "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_configurations'))}/items",
                                  "queries": {
                                    "$filter": "ap_configuration_type eq 683710005",
                                    "$top": 1
                                  }
                                }
                              },
                              "Call_Initial_Pause_Config": {
                                "runAfter": {},
                                "type": "ApiConnection",
                                "inputs": {
                                  "host": {
                                    "connection": {
                                      "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                    }
                                  },
                                  "method": "get",
                                  "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_configurations'))}/items",
                                  "queries": {
                                    "$filter": "ap_configuration_type eq 683710004",
                                    "$top": 1
                                  }
                                }
                              },
                              "Condition_Is_Get_Case_Appeal_On_Retry": {
                                "type": "If",
                                "expression": {
                                  "equals": [
                                    "@items('Apply_to_each')?['ap_caseappeal_transcription_status']",
                                    683710002
                                  ]
                                },
                                "actions": {
                                  "Compose_Case_Appeal_DTMF_Configuration_Filter": {
                                    "type": "Compose",
                                    "inputs": "@if(equals(items('Apply_to_each')?['ap_call_retry_use_longmessage_dtmf'],false),'ap_configuration_type eq 683710010','ap_configuration_type eq 683710011')",
                                    "runAfter": {}
                                  },
                                  "Compose_Get_Case_Appeal_Info_Request_Message": {
                                    "type": "Compose",
                                    "inputs": {
                                      "dtmf": {
                                        "dtmf": "@replace(body('Get_Case_Appeal_DTMF')?['value'][0]['ap_configuration_value'],'{inputIdPlaceHolder}',items('Apply_to_each')?['ap_ain'])",
                                        "finalPause": "@int(body('Call_Final_Pause_Config')?['value'][0]['ap_configuration_value'])",
                                        "initPause": "@int(body('Call_Initial_Pause_Config')?['value'][0]['ap_configuration_value'])"
                                      },
                                      "inputId": "@items('Apply_to_each')?['ap_ain']",
                                      "recordId": "@items('Apply_to_each')?['ap_ainid']",
                                      "requestType": "CaseAppealInfo"
                                    },
                                    "runAfter": {
                                      "Get_Case_Appeal_DTMF": [
                                        "Succeeded"
                                      ]
                                    }
                                  },
                                  "Get_Case_Appeal_DTMF": {
                                    "runAfter": {
                                      "Compose_Case_Appeal_DTMF_Configuration_Filter": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connection": {
                                          "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                        }
                                      },
                                      "method": "get",
                                      "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_configurations'))}/items",
                                      "queries": {
                                        "$filter": "@{outputs('Compose_Case_Appeal_DTMF_Configuration_Filter')}",
                                        "$top": 1
                                      }
                                    }
                                  },
                                  "Send_Get_Case_Appeal_Message_To_Request_Queue": {
                                    "runAfter": {
                                      "Compose_Get_Case_Appeal_Info_Request_Message": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                      "body": {
                                        "ContentData": "@{base64(outputs('Compose_Get_Case_Appeal_Info_Request_Message'))}",
                                        "ContentType": "application/json",
                                        "SessionId": "0"
                                      },
                                      "host": {
                                        "connection": {
                                          "name": "[concat('@parameters(''$connections'')[''', parameters('servicebus_Connection_Name'), '''][''connectionId'']')]"
                                        }
                                      },
                                      "method": "post",
                                      "path": "/@{encodeURIComponent(encodeURIComponent('request-queue'))}/messages",
                                      "queries": {
                                        "systemProperties": "None"
                                      }
                                    }
                                  },
                                  "Update_Case_Appeal_Retry_Transcription_Status": {
                                    "runAfter": {
                                      "Send_Get_Case_Appeal_Message_To_Request_Queue": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                      "body": {
                                        "_ownerid_type": "",
                                        "ap_caseappeal_transcription_errors": "@{null}",
                                        "ap_caseappeal_transcription_status": 683710001,
                                        "ap_total_call_retries": "@add(outputs('Compose_Current_AIN_Call_Retries_Count'),1)"
                                      },
                                      "host": {
                                        "connection": {
                                          "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                        }
                                      },
                                      "method": "patch",
                                      "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each')?['ap_ainid']))}"
                                    }
                                  }
                                },
                                "runAfter": {
                                  "Condition_Is_Get_Case_Decision_On_Retry": [
                                    "Succeeded"
                                  ]
                                }
                              },
                              "Condition_Is_Get_Case_Decision_On_Retry": {
                                "type": "If",
                                "expression": {
                                  "equals": [
                                    "@items('Apply_to_each')?['ap_casedecision_transcription_status']",
                                    683710002
                                  ]
                                },
                                "actions": {
                                  "Compose_Case_Decision_DTMF_Configuration_Filter": {
                                    "type": "Compose",
                                    "inputs": "@if(equals(items('Apply_to_each')?['ap_call_retry_use_longmessage_dtmf'],false),'ap_configuration_type eq 683710006','ap_configuration_type eq 683710009')",
                                    "runAfter": {}
                                  },
                                  "Compose_Get_Case_Decision_Info_Request_Message": {
                                    "type": "Compose",
                                    "inputs": {
                                      "dtmf": {
                                        "dtmf": "@replace(body('Get_Case_Decision_DTMF')?['value'][0]['ap_configuration_value'],'{inputIdPlaceHolder}',items('Apply_to_each')?['ap_ain'])",
                                        "finalPause": "@int(body('Call_Final_Pause_Config')?['value'][0]['ap_configuration_value'])",
                                        "initPause": "@int(body('Call_Initial_Pause_Config')?['value'][0]['ap_configuration_value'])"
                                      },
                                      "inputId": "@items('Apply_to_each')?['ap_ain']",
                                      "recordId": "@items('Apply_to_each')?['ap_ainid']",
                                      "requestType": "CaseDecisionInfo"
                                    },
                                    "runAfter": {
                                      "Get_Case_Decision_DTMF": [
                                        "Succeeded"
                                      ]
                                    }
                                  },
                                  "Get_Case_Decision_DTMF": {
                                    "runAfter": {
                                      "Compose_Case_Decision_DTMF_Configuration_Filter": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connection": {
                                          "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                        }
                                      },
                                      "method": "get",
                                      "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_configurations'))}/items",
                                      "queries": {
                                        "$filter": "@{outputs('Compose_Case_Decision_DTMF_Configuration_Filter')}",
                                        "$top": 1
                                      }
                                    }
                                  },
                                  "Send_Get_Case_Decision_Message_To_Request_Queue": {
                                    "runAfter": {
                                      "Compose_Get_Case_Decision_Info_Request_Message": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                      "body": {
                                        "ContentData": "@{base64(outputs('Compose_Get_Case_Decision_Info_Request_Message'))}",
                                        "ContentType": "application/json",
                                        "SessionId": "0"
                                      },
                                      "host": {
                                        "connection": {
                                          "name": "[concat('@parameters(''$connections'')[''', parameters('servicebus_Connection_Name'), '''][''connectionId'']')]"
                                        }
                                      },
                                      "method": "post",
                                      "path": "/@{encodeURIComponent(encodeURIComponent('request-queue'))}/messages",
                                      "queries": {
                                        "systemProperties": "None"
                                      }
                                    }
                                  },
                                  "Update_Case_Decision_Retry_Transcription_Status": {
                                    "runAfter": {
                                      "Send_Get_Case_Decision_Message_To_Request_Queue": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                      "body": {
                                        "_ownerid_type": "",
                                        "ap_casedecision_transcription_errors": "@{null}",
                                        "ap_casedecision_transcription_status": 683710001,
                                        "ap_total_call_retries": "@add(outputs('Compose_Current_AIN_Call_Retries_Count'),1)"
                                      },
                                      "host": {
                                        "connection": {
                                          "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                        }
                                      },
                                      "method": "patch",
                                      "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each')?['ap_ainid']))}"
                                    }
                                  }
                                },
                                "runAfter": {
                                  "Condition_Is_Get_Court_Info_On_retry": [
                                    "Succeeded"
                                  ]
                                }
                              },
                              "Condition_Is_Get_Court_Info_On_retry": {
                                "type": "If",
                                "expression": {
                                  "equals": [
                                    "@items('Apply_to_each')?['ap_courthearing_transcription_status']",
                                    683710002
                                  ]
                                },
                                "actions": {
                                  "Compose_Court_DTMF_Configuration_Filter": {
                                    "type": "Compose",
                                    "inputs": "@if(equals(items('Apply_to_each')?['ap_call_retry_use_longmessage_dtmf'],false),'ap_configuration_type eq 683710007','ap_configuration_type eq 683710008')",
                                    "runAfter": {}
                                  },
                                  "Compose_Get_Court_Info_Request_Message": {
                                    "type": "Compose",
                                    "inputs": {
                                      "dtmf": {
                                        "dtmf": "@replace(body('Get_Court_Info_DTMF')?['value'][0]['ap_configuration_value'],'{inputIdPlaceHolder}',items('Apply_to_each')?['ap_ain'])",
                                        "finalPause": "@int(body('Call_Final_Pause_Config')?['value'][0]['ap_configuration_value'])",
                                        "initPause": "@int(body('Call_Initial_Pause_Config')?['value'][0]['ap_configuration_value'])"
                                      },
                                      "inputId": "@items('Apply_to_each')?['ap_ain']",
                                      "recordId": "@items('Apply_to_each')?['ap_ainid']",
                                      "requestType": "CourtHearingInfo"
                                    },
                                    "runAfter": {
                                      "Get_Court_Info_DTMF": [
                                        "Succeeded"
                                      ]
                                    }
                                  },
                                  "Get_Court_Info_DTMF": {
                                    "runAfter": {
                                      "Compose_Court_DTMF_Configuration_Filter": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connection": {
                                          "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                        }
                                      },
                                      "method": "get",
                                      "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_configurations'))}/items",
                                      "queries": {
                                        "$filter": "@{outputs('Compose_Court_DTMF_Configuration_Filter')}",
                                        "$top": 1
                                      }
                                    }
                                  },
                                  "Send__Get_Court_Info_Message_To_Request_Queue": {
                                    "runAfter": {
                                      "Compose_Get_Court_Info_Request_Message": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                      "body": {
                                        "ContentData": "@{base64(outputs('Compose_Get_Court_Info_Request_Message'))}",
                                        "ContentType": "application/json",
                                        "SessionId": "0"
                                      },
                                      "host": {
                                        "connection": {
                                          "name": "[concat('@parameters(''$connections'')[''', parameters('servicebus_Connection_Name'), '''][''connectionId'']')]"
                                        }
                                      },
                                      "method": "post",
                                      "path": "/@{encodeURIComponent(encodeURIComponent('request-queue'))}/messages",
                                      "queries": {
                                        "systemProperties": "None"
                                      }
                                    }
                                  },
                                  "Update_Court_Hearing_Information_Retry_Transcription_Status": {
                                    "runAfter": {
                                      "Send__Get_Court_Info_Message_To_Request_Queue": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                      "body": {
                                        "_ownerid_type": "",
                                        "ap_courthearing_transcription_errors": "@{null}",
                                        "ap_courthearing_transcription_status": 683710001,
                                        "ap_total_call_retries": "@add(outputs('Compose_Current_AIN_Call_Retries_Count'),1)"
                                      },
                                      "host": {
                                        "connection": {
                                          "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                        }
                                      },
                                      "method": "patch",
                                      "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each')?['ap_ainid']))}"
                                    }
                                  }
                                },
                                "runAfter": {
                                  "Call_Final_Pause_Config": [
                                    "Succeeded"
                                  ]
                                }
                              }
                            },
                            "runAfter": {
                              "Get_Time_Between_Retries_Config": [
                                "Succeeded"
                              ]
                            }
                          },
                          "Get_Time_Between_Retries_Config": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                              "host": {
                                "connection": {
                                  "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                                }
                              },
                              "method": "get",
                              "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_configurations'))}/items",
                              "queries": {
                                "$filter": "ap_configuration_type eq 683710003",
                                "$top": 1
                              }
                            }
                          }
                        }
                      }
                    },
                    "Get_Max_Retries_Allowed_Config": {
                      "runAfter": {
                        "Compose_Current_AIN_Call_Retries_Count": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                          }
                        },
                        "method": "get",
                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_configurations'))}/items",
                        "queries": {
                          "$filter": "ap_configuration_type eq 683710001",
                          "$top": 1
                        }
                      }
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "List_records_for_retry": [
                  "Succeeded"
                ]
              }
            },
            "List_records_for_retry": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "[concat('@parameters(''$connections'')[''', parameters('commondataservice_Connection_Name'), '''][''connectionId'']')]"
                  }
                },
                "method": "get",
                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('$crmOrgName')))}/tables/@{encodeURIComponent(encodeURIComponent('ap_ains'))}/items",
                "queries": {
                  "$filter": "ap_courthearing_transcription_status eq 683710002 or ap_casedecision_transcription_status eq 683710002 or ap_caseappeal_transcription_status eq 683710002"
                }
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "$crmOrgName": {
              "defaultValue": "[concat(parameters('dynamicscrm_environment_name'),'.crm')]",
              "type": "String"
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Day",
                "interval": 1,
                "schedule": {
                  "hours": [
                    "0"
                  ],
                  "minutes": [
                    30
                  ]
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "[parameters('commondataservice_Connection_Name')]": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('commondataservice_Connection_Name'))]",
                "connectionName": "[parameters('commondataservice_Connection_Name')]",
                "id": "[concat('/subscriptions/', variables('subscription_id'), '/providers/Microsoft.Web/locations/westus2/managedApis/commondataservice')]"
              },
              "[parameters('servicebus_Connection_Name')]": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('servicebus_Connection_Name'))]",
                "connectionName": "[parameters('servicebus_Connection_Name')]",
                "id": "[concat('/subscriptions/', variables('subscription_id'), '/providers/Microsoft.Web/locations/westus2/managedApis/servicebus')]"
              }
            }
          }
        }
      }
    }
  ]
}
